@(cart: Cart)

<div class="payment-errors"></div>

<div class="form-row">
    <label>Credit card number</label>
    <input class="card-number" type="text" size="20" value="4111111111111111"/>
</div>

<div class="form-row">
    <label>CVC</label>
    <input class="card-cvc" type="text" size="4" value="111"/>
</div>

<div class="form-row">
    <label>Credit card holder</label>
    <input class="card-holdername" type="text" size="20" value="NY Police Department"/>
</div>

<div class="form-row">
    <label>Expiration date (MM/YYYY)</label>
    <input class="card-expiry-month" type="text" size="2" value="12"/>
    <span> / </span>
    <input class="card-expiry-year" type="text" size="4" value="2015"/>
</div>

<input class="amount" type="hidden" value="@cart.getTotalPrice.getAmount.setScale(2)"/></div>
<input class="currency" type="hidden" value="@cart.getCurrency.getCurrencyCode"/></div>