
<div class="payment-errors"></div>

<div class="form-row">
    <label>Credit card number</label>
    <input class="card-number" type="text" size="20" value="4111111111111111" placeholder="Credit card number"/>
</div>

<div class="form-row">
    <label>CVC</label>
    <input class="card-cvc" type="text" size="4" value="111" placeholder="CVC"/>
</div>

<div class="form-row">
    <label>Credit card holder</label>
    <input class="card-holdername" type="text" size="20" value="NY Police Department" placeholder="Credit card holder"/>
</div>

<div class="form-row">
    <label>Expiration date</label>
    <input class="card-expiry-month" type="text" size="2" value="12" placeholder="MM"/>
    <span> / </span>
    <input class="card-expiry-year" type="text" size="4" value="2015" placeholder="YYYY"/>
</div>