@(product: Product)

<input type="hidden" name="productId" value="@product.getId"/>
@for(variant <- product.getVariants.asList) {
<label class="radio">
    <input type="radio" name="variantId" id="addToCart-variant-@variant.getId" value="@variant.getId" checked>
    <div class="variant-option">
        <img src="@variant.getFeaturedImage.getSize(ImageSize.MEDIUM).getUrl" class="img-rounded"
             title="@variant.getInt("unit") donuts box" />
        <div class="variant-size">
            @variant.getInt("unit") donuts box
        </div>
    </div>
</label>
}

<input id="addToCart-quantity" type="number" name="quantity" value="1" min="1" max="10" class="input-mini" />