@import "demo/colors";
@import "demo/mixins";
@import "demo/product";

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    background: @background;
    color: @brown;
}

/* FONTS */

h1 { font-family: 'Pacifico', cursive; }
h2 { font-size: 62px; padding-top: 10px; }

.highlight {
    font-family: 'Pacifico', cursive;
}

.container {
    width: inherit;
}

/* COMMON */
input[aria-invalid=true], textarea[aria-invalid=true], select[aria-invalid=true] {
    background-color: @light-yellow;
}

/* RESPONSIVE */