#checkout, #success {
    .column-detail-style;
    .step-layout-style;
}

#success {
    h1, h2 {
        text-align: center;
    }
}

#checkout-cart {
    .step-body {
        label.radio {
            input[name=variantId] {
                display: none;
            }
            display: inline-block;
            img {
                width: 270px;
            }
        }
    }
}

#checkout-shipping {
    .step-body {
        margin-left: 50px;

        h5 {
            margin-top: 10px;
        }

        .form {
            margin-left: 50px;
        }

        .form-summary {
            span.company:not(:empty), span.city:not(:empty) {
                &:before {
                    content: "(";
                }
                &:after {
                    content: ")";
                }
            }
        }
    }
}

#checkout-billing {
    .step-body {
        margin-left: 50px;
    }
}

#checkout-footer {
    .summary {
         float: right;
         width: 350px;
         padding: 20px;
    }

    button[type=submit] {
        margin-top: 20px;
        display: none;
    }
}

#checkout {
    .step {
        .form-summary {
            font-size: 12px;
            .unstyled;
        }

        .hide {
            display: none;
        }

        &.disabled {
            .step-header {
                opacity: 0.4;
            }
            .step-body, .step-footer {
                display: none;
            }
        }

        &.visited {
            .increase {
                zoom: 0.5;
                -moz-transform: scale(0.5);
            }
            .show {
                display: none;
            }
            .hide {
                display: block;
            }
            .step-footer {
                display: none;
            }
        }
    }
}