#checkout, #success {
    .column-detail-style;
    .step-layout-style;

    form {
        margin-bottom: 0;
    }
}

#success {
    text-align: center;
}

#checkout-cart {
    .step-body {

        .cart-product {
            text-align: center;

            label.radio {
                border: 2px solid white;
                border-radius: 6px;
                opacity: 0.5;
                padding-left: 0;

                input[name=variantId] {
                    display: none;
                }

                display: inline-block;

                img {
                    width: 290px;
                }

                .variant-option {
                    text-align: center;
                }

                .variant-attributes {
                    margin: 15px auto 5px;
                    text-align: center;
                    border-radius: 4px;
                    background-color: @dark-pink;
                    width: 150px;
                    color: white;
                    font-weight: bold;
                }

                &.active {
                    opacity: 1;
                }

                &.selected {
                    opacity: 1;
                    border-color: @dark-pink;
                }
            }
        }

        .cart-quantity {
            margin-top: 40px;
            text-align: center;
        }
    }
}

#checkout-shipping {
    .step-body {
        margin-left: 50px;

        h5 {
            margin-top: 10px;
        }

        .form {
            margin-left: 50px;
        }

        .form-summary {
            span.company:not(:empty), span.city:not(:empty) {
                &:before {
                    content: "(";
                }
                &:after {
                    content: ")";
                }
            }
        }
    }
}

#checkout-billing {
    border-bottom: 0 !important;

    .step-body {
        margin-left: 50px;
    }
}

#checkout-footer {
    display: none;
    background-color: @dark-pink;
    text-align: center;

    button[type=submit] {
        margin: 20px;
    }
}

#checkout {
    .step {
        .form-summary {
            font-size: 12px;
            .unstyled;
        }

        .hide {
            display: none;
        }

        &.disabled {
            .step-header {
                opacity: 0.4;
            }
            .step-body, .step-footer {
                display: none;
            }
        }

        &.visited {
            .increase {
                zoom: 0.5;
                -moz-transform: scale(0.5);
            }
            .show {
                display: none;
            }
            .hide {
                display: block;
            }
            .step-footer {
                display: none;
            }
        }
    }
}