/* Color names taken from: http://chir.ag/projects/name-that-color */

@background:        #C1213B;
@foreground:        #F3F2D6;

@brown:             #5D2001;
@red:               #C01C35;
@orange:            #C77426;
@white:             #FFFFFF;
@yellow:            #F3F2D6;
@black:             #3A1401;
@green:             #56BEB3;
@green-dark:        #137B7C;


@gray-text:         #53616C;
@black-text:        #232F39;
@brown-text:        #767378;
@white-text:        #F5F5F5;


@dark:              #343434;

@darkest-gray:      #222222;
@dark-gray:         #696969;
@light-gray:        #CBCBCB;
@lightest-gray:     #E2E4E5;

@bright-blue:       #26A9F8;

@wild-sand:         #F1F1F1;

@light-yellow:      #FFFFC5;


@light-blue:        #D8E1E3;
@dark-blue:         #C1D9DE;

@dark-pink:         #45C2DE;
@pink:              #BAECF7;
@light-pink:        #F0FCFF;