body.product {
    background-color: @yellow;
    text-align: center;

    #product-header {
        background: @green url("../images/background-green.png") repeat top left;

        .container {
            h2 { color: @white; text-shadow: 0px 2px 1px @green-dark; }
            padding: 100px 10px;
            background: transparent url("../images/border-green.png") repeat-x top left;
        }
    }

    #product-box {
        .container {
            h2 span.highlight { color: @green; font-size: 82px; }
            padding: 100px 10px;
            background: transparent url("../images/border-yellow.png") repeat-x top left;
        }
    }

    #product-often {

    }

}