@(product: Product)

@main("I want donuts!", "product"){

}{
<form id="product-form" action="@routes.Application.submitProduct" method="post">
    <section id="product-header">
        <div class="container">
            <img src="@routes.Assets.at("images/header.png")" alt="I want donuts!" />
            <h2>THE GREATEST DONUTS SHOP EVER</h2>
        </div>
    </section>

    <section id="product-box">
        <div class="container">
            <img src="@routes.Assets.at("images/separator-black.png")" alt="-" />
            <h2>CHOOSE YOUR <span class="highlight">taaasty</span> PASSION</h2>
            @for(variant <- product.getVariants.asList) {
            <div class="radio">
                <label>
                    <input type="radio" name="variantId" id="product-variantId-@variant.getId" value="@variant.getId">
                    @helper.variant(variant)
                    <div>BOX WITH @variant.getInt("quantity") DONUTS</div>
                    <div>ADD THIS ONE!</div>
                </label>
            </div>
        </div>
        }
    </section>

    <section id="product-often">
        <h2>CHOOSE HOW OFTEN</h2>
        <div class="radio">
            <label>
                <input type="radio" name="howOften" id="product-howOften-4" value="4">
                Once a week
            </label>
            <label>
                <input type="radio" name="howOften" id="product-howOften-2" value="2">
                Every two weeks
            </label>
            <label>
                <input type="radio" name="howOften" id="product-howOften-1" value="1">
                Once a month
            </label>
        </div>

        <button type="submit">VIEW CART AND CONFIRM THIS PARADISE</button>
    </section>

</form>
}{


}