@(title: String, bodyClass: String = "", scripts: Html = Html(""), styles: Html = Html(""))(header: Html)(content: Html)(footer: Html)(implicit lang: Lang)

<!DOCTYPE html>
<html lang="@lang.code">

    <head>
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>

        <title>@title</title>

        <meta content="text/html"/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="language" content="@lang.code">
        <meta name="description" content="Here is a description of the shop that will be shown as a search result."/>
        <meta name="keywords" content="donuts, subscription, weekly"/>
        <meta name="author" content="commercetools"/>

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <link rel="stylesheet" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/responsive.css")">
        @styles
    </head>

    <body class="@bodyClass">

        <div id="container">
            <header>
                @header
            </header>

            <div id="content">
                @helper.messages()
                @content
            </div>

            <footer>
                @footer
            </footer>
        </div>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib-form.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/paymill.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/product.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/order.js")"></script>

        <script type="text/javascript">
            var PAYMILL_PUBLIC_KEY = '656100219254eccf6d8cf1c1814d633b';
        </script>
        <script type="text/javascript" src="https://bridge.paymill.de"></script>

        @scripts
    </body>

</html>