@(cart: Cart, item: LineItem, addressForm: Form[SetAddress])

@main("I want donuts!", "order"){

}{
<form id="order-form" action="@routes.Application.submitOrder" method="post">
    <div class="checkout">
        <section id="order-cart">
            <div class="container">
                <div class="head">
                    <h1>Order details</h1>
                </div>
                <div class="body">
                    @helper.variant(cart.getLineItems.get(0).getVariant)
                </div>
            </div>
        </section>

        <section id="order-shipping">
            <div class="container">
                <div class="head">
                    <h3>SHIPPING INFORMATION</h3>
                </div>
                <div class="body">
                    <div id="form-shipping-address" class="show">
                        @form.setAddress(addressForm)
                    </div>
                </div>
            </div>
        </section>

        <section id="order-billing">
            <div class="container">
                    <div class="head">
                    <h3>BILLING INFORMATION</h3>
                </div>
                <div class="body">
                    <input class="amount" type="hidden" value="@item.getPrice.getValue.getAmount.setScale(2)"/>
                    <input class="currency" type="hidden" value="@item.getPrice.getValue.getCurrencyCode"/>
                    <div id="form-billing-method" class="show">
                        <input type="hidden" name="network" value="Credit Card"/>
                        @form.paymill()
                    </div>

                    <div class="footer">
                        <button type="submit">CONFIRM ORDER!</button>
                        <a href="@routes.Application.showProduct">[Or modify order]</a>
                    </div>
                </div>
            </div>
        </section>
    </div>

</form>
}{

}